beautifulsoup4==4.5.3
diaspy==0.3.0
facebook-sdk==3.1.0
lxml==4.2.5
Mastodon.py==1.3.1
PyReadability==0.4.0
python3-linkedin==1.0.2
python-wordpress-xmlrpc==2.3
PyYAML==3.13
readability==0.3
tweepy==3.6.0
git+https://github.com/ellisonleao/pyshorteners.git
git+https://github.com/aurelg/shaarpy.git
