beautifulsoup4==4.9.3
git+https://github.com/marekjm/diaspy.git
facebook-sdk==3.1.0
git+https://github.com/aurelg/shaarpy.git
git+https://github.com/ellisonleao/pyshorteners.git
lxml==4.6.3
Mastodon.py==1.5.1
PyReadability==0.4.0
python3-linkedin==1.0.2
python-wordpress-xmlrpc==2.3
PyYAML>=4.2b1
readability==0.3
requests==2.31.0
tweepy==3.10.0
