beautifulsoup4==4.5.3
diaspy
facebook-sdk
lxml
Mastodon.py
PyReadability
git+https://github.com/ellisonleao/pyshorteners.git
python-wordpress-xmlrpc
python3-linkedin
PyYAML
readability
shaarpy
tweepy
